
<aside class="m-2 p-2 shadow rounded-2 text-bg-@(globalUserData.CurrentTheme) bg-@(globalUserData.CurrentTheme) border border-success d-flex justify-content-between align-content-center align-items-center">
            <div>
               <AddTransaction/>
            </div>

            <div>
               <ThemeChanger/>
            </div>
</aside>


@code {
   [CascadingParameter]
   GlobalUserData globalUserData {get; set;} = default!;
}