

body,html {
   padding: 0;
   margin: 0;
}

.hidden-input  .p-dropdown-trigger {
   display: none;
}

.hidden-input input.p-inputnumber-input.p-inputtext.p-component.p-filled,
.hidden-input input.p-inputtext.p-component.p-inputtext.p-component,
.hidden-input span.p-dropdown-label.p-inputtext,
.hidden-input{
   background-color: var(--surface-ground);
   border: none;
   outline: none;
}

.hidden-input.p-calendar input.p-inputtext.p-component.p-inputtext.p-component{
   text-align: end;
   color: var(--text-color-secondary);
}

.red input.p-inputnumber-input.p-inputtext.p-component.p-filled{
   color: var(--red-400) ;
   border: none;
}
.green input.p-inputnumber-input.p-inputtext.p-component.p-filled{
   color: var(--green-400);
   border: none;
}
