@inherits LayoutComponentBase


<Button Outline Color="@( globalUserData?.CurrentTheme != "light" ? ButtonColor.Light : ButtonColor.Dark)"
    @onclick="globalUserData!.TogleTheme">
    <Icon Name="@(globalUserData?.CurrentTheme == "light" ? IconName.Lightbulb : IconName.LightbulbOff)" /> Toggle Theme
</Button>

@code {
    [CascadingParameter]
    GlobalUserData globalUserData { get; set; } = default!;

}