@page "/"

<PageTitle>Dashboard</PageTitle>

<main data-bs-theme="@(globalUserData.UserStyle.CurrentTheme.ToString() )" >
    @(globalUserData?.UserStyle.CurrentTheme)
</main>

@code {
    [CascadingParameter]
    GlobalUserData globalUserData {get; set;} = default!;
}    
