@page "/"

<PageTitle>Dashboard</PageTitle>

<main class="text-bg-@(globalUserData.CurrentTheme) bg-transparent">
    @(globalUserData?.CurrentTheme)
</main>

@code {
    [CascadingParameter]
    GlobalUserData globalUserData {get; set;} = default!;
}    
