@page "/"

<PageTitle>Dashboard</PageTitle>

<main data-bs-theme="@(globalUserData.UserStyle.CurrentTheme )" >
    <ViewTransactions />
</main>



@code {
    [CascadingParameter]
    GlobalUserData globalUserData {get; set;} = default!;
}    
