@page "/"

<PageTitle>Dashboard</PageTitle>

<main data-bs-theme="@(globalUserData?.UserStyle.CurrentTheme )" >
    
    <div class=" d-flex flex-column align-items-center justify-content-center ">
        @if (globalUserData != null && globalUserData?.UserTransactions.Transactions.Count > 0) {
            @foreach(Transaction transaction in globalUserData.UserTransactions.Transactions) {
                <ViewTransactions transaction="@(transaction)" />
            }
        }
    </div>
</main>


@code {
    [CascadingParameter]
    GlobalUserData? globalUserData {get; set;} = default!;
}    
